@import url(https://fonts.bunny.net/css?family=kanit:200,300,400,500,600,700,800,900);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'kanit', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
  }
}

::selection {
  background-color: black;
  color: #99ff99;
}

@layer utilities {
  .triangle {
    width: 300px;
    height: inherit;
    background-color: #99ff99;
    clip-path: polygon(0 0, 50% 0, 80% 100%, 0% 100%);
  }
  .circle {
    clip-path: circle(50% at 50% 50%);
  }
/* .line {
  height:5px;
  background-color: #99ff99;
  animation: line 2s linear forwards;
 
}

@keyframes line {
  from { 
    width:0;
  }
  to {
    width:8rem;
  }
} */

  .text-shadow {
    text-shadow: 4px 4px #99ff99;
  }
}
